body{
    background-color: #F2F2F2;
    padding: 10px;
}
p{
     font-size: 20px;
}
ul{
    font-size: 20px;
}
.app{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.screenshots{
    display: grid;
      grid-template-areas: 
        "top-left  top-right"
        "middle    middle";
        gap: 20px;
}